@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-blue: #7A9EAF;
    --main-purple: #655989;
    --main-orange: #FFCEBB;
    --main-background: #EEEEEE;

}

body {
scroll-behavior: smooth;
}

